{{ define "main" }}
<!-- <h1>{{ .Title }}</h1> -->

{{ $author := index .Site.Data.authors (.Params.author) }}
<div class="container mt-5 h-100">
  <div class="row">
    <!-- Author Information Section -->
    <div class="col-md-4 text-center">
      <img
        src="{{ $author.avatar | relURL }}"
        alt="{{ $author.name }}"
        class="img-fluid rounded-circle mb-3"
        style="width: 150px; height: 150px; object-fit: cover"
      />
      <h1 class="h4">{{ $author.name }}</h1>
      <p class="text-muted">{{ $author.bio }}</p>
    </div>

    <!-- Author Posts Section -->
    <div class="col-md-8">
      <h2 class="h5">Posts by {{ $author.name }}</h2>
      <ul class="list-group list-group-flush">
        {{ range where .Site.RegularPages "Params.author" .Params.author }}
        <li class="list-group-item">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ end }}
